<!DOCTYPE html5>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Cuhuatepetl-Nahuatl</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase-firestore.js"></script>
</head>
<body>
  <div class="container mt-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="#">Quetzal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <input id="email_login"  class="form-control mr-sm-2" type="email" placeholder="nombre@dominio.com" aria-label="nombre@dominio.com">
            <input id="password_login"  class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
            <button type="submit" onclick="login()"  class="btn btn-success my-2 my-sm-0" >Aceder</button>
            <div class="mr-1"></div>
            <button type="submit" class="btn btn-light my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal" >Registrar</button>
          </div>
        </div>
      </nav>
    </div>
    <div class="container"> 
      <div id="_welcome_page">

      </div>
      <div id="crud" class="text-center">
        <h4>CRUD FIREBASE</h4>
        <div class="container">
            <label> NOMBRE</label>
            <input type="text" id="nombre" class="form-control" >
            <label> APELLIDO</label>
            <input type="text" id="apellido" class="form-control" >
            <label> FECHA NACIMIENTO</label>
            <input type="text" id="fecha" class="form-control" >
            <button type="submit" onclick="guardar()" class="btn btn-primary mt-1">Guardar</button>
        </div>        
      </div>
    </div>
    <!-- Modal Start-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-info">
            <h5 class="modal-title" id="exampleModalLabel">Bienvenido, registrate y diviertete.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input id="email"  class="form-control mr-sm-2" type="email" placeholder="nombre@dominio.com" aria-label="Correo">
            <div class="mt-1"></div>
            <input id="password"  class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="registrar()" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  <!-- Modal End-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
   <script src='../lib/quetzal1.js'></script>  
   <script src='../lib/app_db.js'></script> 
</body>
</html>